# Gradle
.gradle/
build/
app/build/
local.properties

# IDE
.idea/
*.iml
*.iws
*.ipr
.classpath
.project
.settings/

# OS
.DS_Store
Thumbs.db

# QA evidence
QA evidencias/

# Misc
.cxx/
*.log
*.hprof
*.keystore
*.jks
